.button {
   text-align: center;
   border-radius: 16px;
   height: 60px;
   width: 200px;
   font-size: 25px;
   font-family: inter-semibold;
   color: white;
   background-color: rgb(202, 209, 4);
   border-color: white;
   border-width: 1px;
   box-shadow: none;
   outline: none;
   border-style: solid;
   cursor: pointer;
   transition: 0.3s;
   margin: 550px;

}
.button1 {border-radius: 16px;}

img {
  float: left;
  height: 400px;
  width: 500px;
  border-radius: 16px;
  
