body {
   background-image: url("images (32).jpeg");
   background-size: cover;
   opacity: 1
}
    
   
   .button {
   text-align: center;
   border-radius: 16px;
   height: 60px;
   width: 120px;
   font-size: 25px;
   font-family: inter-semibold;
   color: white;
   background-color: rgb(202, 209, 4);
   border-color: white;
   border-width: 1px;
   box-shadow: none;
   outline: none;
   border-style: solid;
   cursor: pointer;
   transition: 0.3s;
   margin: 35px;

}
.button1 {
   border-radius: 16px;
   opacity: 1;
         }

.button2 {
   border-radius: 16px;
   opacity: 0.6;
   background-color: rgb(255, 255, 255);
   height: 260px;
   width: 560px;
   float: left;
         }
.button2:hover {
   transform: scale(1.05);
}
          

img {
  float: left;
  height: 200px;
  width: 250px;
  border-radius: 16px;
  opacity: 1;
}

.app {
   height: 224px;
   width: 224px;
   float: left;
   border-radius: 16px;
   opacity: 1;
}
   

p {
   font-size: 14px;
}

h1 {
   font-size: 25px;
}
  
