body {
  background-image: url("a25739e1f5ecb49d1849d7d8cb1382b5.gif");
}

.button {
   text-align: center;
   border-radius: 8px;
   height: 100px;
   width: 250px;
   font-size: 25px;
   font-family: inter-semibold;
   color: white;
   background-color: rgb(28, 25, 33);
   border-color: white;
   border-width: 0.5px;
   box-shadow: none;
   outline: none;
   border-style: solid;
   cursor: pointer;
   transition: 0.3s;
   margin: 5px;


}
.button1 {border-radius: 8px;}
