

body {
  background-image: url("a25739e1f5ecb49d1849d7d8cb1382b5.gif");
  background-color: #cccccc;
  background-size: cover;
}

.button {
   text-align: center;
   border-radius: 8px;
   height: 100px;
   width: 250px;
   font-size: 25px;
   font-family: inter-semibold;
   color: white;
   background-color: rgb(60, 28, 112);
   border-color: white;
   border-width: 0.5px;
   box-shadow: none;
   outline: none;
   border-style: solid;
   cursor: pointer;
   transition: 0.3s;
   margin: 10px;


}
.button1 {
  border-radius: 8px;
}

.button1:hover {
  transform: scale(1.05);
}


img {
  float: left;
  height: 400px;
  width: 500px;

}

h1 {
  font-family: candy;
  font-size: 56px;
}


  


  
